{% extends "./index.html" %}
{% block title%} Transactions | Universal Campus Smartcard Paymennt system {% endblock %}
{% block action%}Logout{% endblock %}


{%load static%}
 {% block content %}
    <div class="container-fluid">
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item active"> <h5>Dashboard Transactions</h5></li>
        </ol>


    <div class="container-fluid">
        <div class="card mb-1">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Transaction table
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>TransactionID</th>
                                <th>Card ID</th>
                                <th>Transaction Amount</th>
                                <th>Service</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            {% for detail in transaction %}
                                    <tr>
                                        <td>{{detail.transaction}}</td>
                                        <td>{{detail.UserID}}</td>
                                        <td>{{detail.transactionAmount}}</td>
                                        <td>{{detail.InOut}}</td>
                                        <td>{{detail.time}}</td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
{% endblock %}